body {
    margin: 0; /* Standardmargen des Body-Elements entfernen */
    font-family: Arial, sans-serif;
}

.header-video {
    width: 100%;
    height: calc(100vh - 56px) /* Höhe des Bildes auf 100% des Containers setzen */;
    object-fit: cover; /* Bild entsprechend zuschneiden, um den Container zu füllen */
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Halbtransparenter Hintergrund */
    padding: 10px;
    border-radius: 10px;
}

.services-section {
    padding: 30px;
    padding-bottom: 80px; /* Abstand vom Ende der letzten Kachel zum unteren Rand vergrößern */
    background-color: #f4f4f4;
}

.services-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

.services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-box {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 45%;
    margin: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.service-box img {
    width: 40%;
    height: auto;
    border-right: 1px solid #ddd;
    padding-right: 15px;
    border-radius: 10px 0 0 10px;
}

.service-box-content {
    padding-left: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.service-box h3 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 0;
}

.service-box p {
    font-size: 18px;
    text-align: center;
}

.why-us-section {
    padding: 30px;
    background-color: #fff;
}

.why-us-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

.why-us-content {
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
    text-align: justify;
}

.process-section {
    padding: 30px;
    background-color: #e2e2e2;
}

.process-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

.process-content {
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
    text-align: justify;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.footer a {
    color: #4CAF50;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.nav-link.active {
    color: #4CAF50 !important; /* Farbe des aktiven Links auf Grün */
}

.card {
    max-width: 700px;
    height: 250px;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.card img {
    width: 40%;
    object-fit: cover;
    margin: 15px 0px 15px 15px;
}
.card-body {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divider {
    width: 1px;
    background-color: #ddd;
    margin: 15px 10px;
}

.card-img-top {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {

    .card-title {
        font-size: 20px;
    }

    .card-body {
        font-size: smaller;
    }

    .smaller {
        font-size: 12px;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer p:last-child {
        text-align: center;
        margin-right: 0;
    }
    
}