/* Global Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar-center {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-nav {
    padding-right: 25px;
}

.nav-link.active {
    color: #4CAF50 !important;
}

/* Header Section */
.header-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* Volle Höhe des Bildschirms */
}

.header-text {
    color: white; /* Stelle sicher, dass die Farbe sichtbar ist */
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    padding-top: 500px;
    padding-bottom: 500px;
    border-radius: 10px;
}

#arrow {
    cursor: pointer;
}

/* Services Section */
.services-section {
    padding: 30px;
    padding-bottom: 80px;
    background-color: transparent;
}

.services-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    color: white;
}

.services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-box {
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 45%;
    margin: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.service-box img {
    width: 40%;
    height: auto;
    border-right: 1px solid #ddd;
    padding-right: 15px;
    border-radius: 10px 0 0 10px;
}

.service-box-content {
    padding-left: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.service-box h3 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 0;
}

.service-box p {
    font-size: 18px;
    text-align: center;
}

/* Why Us Section */
.why-us-section {
    padding: 30px;
    background-color: transparent;
    text-align: center;
}

.video-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-overlay {
    position: relative;
    z-index: 2;
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
}

.why-us-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    color: white;
}

@keyframes borderColorChange {
    0% {
        border-color: blue transparent transparent transparent;
    }
    25% {
        border-color: blue blue transparent transparent;
    }
    50% {
        border-color: blue blue red transparent;
    }
    75% {
        border-color: blue blue red red;
    }
    100% {
        border-color: blue blue red red;
    }
}

.why-us-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Abstand zwischen Bild und Text */
}

.why-us-image {
    max-width: 40%; /* Reduzierte Breite des Bildes */
    height: auto;
    margin-right: 100px;
    border: 1px solid;
    border-color: blue transparent transparent transparent;
    animation: borderColorChange 4s linear infinite;
}

.why-us-content {
    margin: 0;
    font-size: 18px;
    text-align: justify;
    color: white;
}

/* Process Section */
.process-section {
    padding: 30px;
    background-color: transparent;
}

.process-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    color: white;
}

.process-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.process-image {
    margin-right: 20px;
}

.process-content {
    max-width: 600px;
    color: white;
}

/* Color Changing Animation */
@keyframes colorChange {
    0% { color: blue; }
    25% { color: red; }
    50% { color: green; }
    75% { color: yellow; }
    100% { color: blue; }
}

.color-changing-link {
    animation: colorChange 4s infinite;
}

/* Footer */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.footer a {
    color: #4CAF50;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/* Card Section */
.card {
    max-width: 700px;
    height: 250px;
    margin: auto;
    display: flex;
    flex-direction: row;
    border: 3px solid red;
    animation: borderColorChange 3s linear infinite;
}

@keyframes borderColorChange {
    0% {
        border-color: red;
    }
    33% {
        border-color: blue;
    }
    66% {
        border-color: yellow;
    }
    100% {
        border-color: white;
    }
}

.card img {
    width: 40%;
    object-fit: cover;
    margin: 15px 0px 15px 15px;
}

.card-body {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divider {
    width: 1px;
    background-color: #ddd;
    margin: 15px 10px;
}

.card-img-top {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Media Queries */
@media screen and (max-width: 768px) {

    .navbar-brand {
        position: static;
        transform: none;
    }

    .navbar-nav {
        padding-right: 0px;
    }
    
    .card {
        width: auto;
        height: auto;
    }
    
    .card-title {
        font-size: 20px;
    }

    .card-body {
        font-size: smaller;
    }

    .smaller {
        font-size: 12px;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer p:last-child {
        text-align: center;
        margin-right: 0;
    }

    .why-us-image, .why-us-content {
        max-width: 100%; /* Bild und Text nehmen die volle Breite ein */
    }

    .why-us-container {
        flex-direction: column; /* Bild und Text untereinander anordnen */
        align-items: flex-start; /* Linksbündig ausrichten */
        background-color: rgba(0, 0, 0, 0.5); /* Schwarz mit 50% Deckkraft */
    }

    .process-section {
        background-color: rgba(0, 0, 0, 0.5); /* Schwarz mit 50% Deckkraft */
    }

    .process-image {
        display: none; /* Bild ausblenden */
    }
}

@media screen and (min-width: 768) {
    .navbar {
        height: 70px;
    }
}
