body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(33, 37, 41);
}

/* Navbar */

.navbar-center {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes colorChangeBrand {
    0% {
        fill: rgb(240, 226, 42);
    }
    50% {
        fill: red;
    }
    100% {
        fill: rgb(240, 226, 42);
    }
}

#Brand {
    animation: colorChangeBrand 2s infinite;
}

#Hintergrund {
    fill: rgb(33, 37, 41);
}

.navbar-nav {
    padding-right: 25px;
}

.icon {
    margin-right: 5px;
    font-size: 16px;
}

@keyframes colorChangeFrame {
    0% {
        color: #4CAF50;
    }
    25% {
        color: blue;
    }
    33% {
        color: red;
    }
    66% {
        color: yellow;
    }
    100% {
        color: #4CAF50;
    }
}

.nav-link.active {
    animation: colorChangeFrame 2s linear forwards;
}

/* Neues CSS */

.container {
    color: white;
    padding-top: calc(57px + 20px);
}

.centered-col {
    display: flex;
    justify-content: center; /* Zentriert horizontal */
    align-items: center; /* Zentriert vertikal */
    height: 100%; /* Stellt sicher, dass das Eltern-Element die volle Höhe hat */
}

.contact-title {
    text-align: center;
    margin-bottom: 25px;
}

.card {
    width: 13rem;
    height: 8rem;
    background-color: transparent;
    border: none;
}

@keyframes colorChangeIcon {
    0% {
        color: #4CAF50;
    }
    25% {
        color: blue;
    }
    33% {
        color: red;
    }
    66% {
        color: yellow;
    }
    100% {
        color: #4CAF50;
    }
}

.card-icon {
    font-size: 30px;    
    animation: colorChangeIcon 2s linear infinite;
}

.card-subtitle {
    font-weight: bold;
}

.card-body {
    padding: 5px;
    color: white;
}

.card-text {
    margin: 0;
    font-size: medium;
}

.card-text-section {
    margin-top: 5px;
}

.card-text a {
    color: #4CAF50; /* Grüne Schrift */
    text-decoration: none; /* Kein Unterstrich */
    white-space: nowrap; /* Kein Zeilenumbruch */
}

.bottom-container {
    padding-top: 20px;
}

.fromular-title {
    margin-bottom: 5px;
}

.form-control:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 0 0.15rem #4CAF50;
}

.map-container {
    width: 100%;
    max-width: 800px;
    height: 40vh;
    margin-top: 20px;
    border: 1px solid #ddd;
}

.footer {
    background-color: rgb(33, 37, 41);
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-top: 1px solid white;
}

.footer a {
    color: #4CAF50;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {

    .navbar-brand {
        position: static;
        transform: none;
    }

    .navbar-nav {
        padding-right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        padding-top: calc(57px + 35px);
    }

    .bottom-container {
        padding-top: 30px;
    }
    
    input::placeholder {
        font-size: 0.9rem;
    }

    .footer {
        position: static;
        left: auto;
        transform: none;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .footer p:last-child {
        text-align: center;
        margin-right: 0;
    }

    .map-container {
        height: 10rem;
        flex-grow: 1;
    }
}