/* Global Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar-center {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.ms-2{
    margin-right: 8px;
}

.navbar-nav {
    padding-right: 25px;
}

@keyframes navlinkColorChange {
    0% {
        color: #4CAF50;
    }
    25% {
        color: blue;
    }
    33% {
        color: red;
    }
    66% {
        color: yellow;
    }
    100% {
        color: #4CAF50;
    }
}

.nav-link.active {
    animation: navlinkColorChange 2s linear forwards;
}

.icon {
    margin-right: 5px;
    font-size: 16px;
}

/* Price Body */

.priceBody {
    background-color: black;
    color: white;
}

.priceBody {
    padding-top: 75px;
}

.preisKarte {
    background-color: #212529;
    border-radius: 15px;
}

.levelIcon {
    width: 15px;
    height: 15px;
}

.visibility2 {
    opacity: 0.3;
}

.fa-solid{
    padding-right: 5px;
    font-size: 16px;
}

/* Footer */
.footer {
    background-color: #212529;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.footer p {
    margin-bottom: 5px;
}

.footer a {
    color: #4CAF50;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/* Media Queries */
@media screen and (max-width: 768px) {

    .navbar-brand {
        position: static;
        transform: none;
    }

    .navbar-nav {
        padding-right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .preisKarte {
        margin-left: 20px;
        margin-right: 20px;
    }

    .priceBody {
        padding-top: 100px;
    }
}

@media screen and (max-width: 415px) {

    .navbar-brand{
        font-size: 16px !important;
    }
    
}