body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.navbar-center {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.card {
    width: 30rem;
    height: 30rem;
    background-color: rgba(0, 0, 0, 0.2); /* Schwarz mit 20% Sichtbarkeit */
    border: 2px solid red; /* Anfangsfarbe der Border */
    animation: borderColorChange 3s linear infinite;
}

@keyframes borderColorChange {
    0% {
        border-color: red;
    }
    33% {
        border-color: blue;
    }
    66% {
        border-color: yellow;
    }
    100% {
        border-color: white;
    }
}

.contact-section {
    padding: 50px;
    background-image: url('../img/FeuerwerkHintergrundBild.jpg'); /* Hintergrundbild hinzufügen */
    background-size: cover; /* Bild skalieren, um den gesamten Bereich abzudecken */
    background-position: center; /* Bild zentrieren */
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Inhalt vertikal zentrieren */
    text-align: center; /* Text zentrieren */
    color: white; /* Optional: Textfarbe anpassen, damit sie auf dem Hintergrundbild gut lesbar ist */
}

.contact-title {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    animation: colorChange 3s linear infinite;
}
@keyframes colorChange {
    0% {
        color: red;
    }
    33% {
        color: blue;
    }
    66% {
        color: yellow;
    }
    100% {
        color: white;
    }
}

.contact-info {
    font-size: 18px;
    line-height: 1.5; /* Adjust line height for better readability */
    color: white;
}

.contact-info p {
    margin: 10px 0;
}

.contact-info a {
    color: #4CAF50;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.map-container {
    width: 100%;
    max-width: 800px;
    height: 400px;
    margin-top: 20px;
    border: 1px solid #ddd;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.footer a {
    color: #4CAF50;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.nav-link.active {
    color: #4CAF50 !important; /* Farbe des aktiven Links auf Grün */
}

@media screen and (max-width: 768px) {

    .navbar-brand {
        position: static;
        transform: none;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer p:last-child {
        text-align: center;
        margin-right: 0;
    }
    
}